#gedit backups
*~

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
out/
artifacts/
smb:/

# Mac
.DS_Store

# Maven
log/
target/

# Netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# Log files
*.log
